<div class = box>
<form action="/answer" method="get" class="form-inline">
  <h1><label for="question">Speak to your coach</label></h1>
  <input type="text" id="question" name="question_type" placeholder="Type your question" class= "form-control">
  <input type="submit" value="Go on!" class= "form-control">
</form>
</div>
